* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #000;
  color: white;
}

/* Sections normales */
.before,
.after {
  height: 100vh;
  padding: 12%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: radial-gradient(circle at top, #222 0%, #000 50%);
  text-align: center;
  gap: 25px;
}

/* TITRE MODERNE */
.after h1 {
  font-size: 3rem;
  font-weight: 200;
  max-width: 600px;
  background: linear-gradient(90deg, #00f5a0, #00d9ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: uppercase;
  letter-spacing: 1px;
}

/* BOUTON MODERNE */
.after button {
  padding: 15px 40px;
  border-radius: 30px;
  border: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 1px;
  color: #0c16cc;
  background: linear-gradient(135deg, #00f5a0, #00d9ff);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 12px 30px rgba(0, 245, 160, 0.2);
}

.after button span {
  position: relative;
  z-index: 2;
}

.after button::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 30px;
 
  opacity: 0.3;
  animation: shine 2s infinite linear;
}


button a{
  text-decoration: none;
}

/* Zone scroll */
.scroll-zone {
  height: 500vh;
}

/* Slider */
.hero {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

/* Les deux backgrounds */
.bg {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  transition: opacity 1s ease, transform 2s ease;
}

.bg1 {
  opacity: 1;
  z-index: 0;
}

.bg2 {
  opacity: 0;
  z-index: 0;
}

/* Overlay sombre */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
  z-index: 1;
}

/* Texte */
.content {
  position: relative;
  z-index: 2;
}

/* Overlay sombre */
.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.6);
}

/* Texte */
.content {
  position: relative;
  z-index: 2;
  text-align: center;
  max-width: 800px;
  padding: 20px;
height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre vertical */
  align-items: center; 
}

#tag {
  display: inline-block;
  padding: 8px 26px;
  border-radius: 40px;
  border: 1px solid rgba(0,217,255,0.4);
  color: #9efcff;
  font-size: 0.9rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 25px;
  backdrop-filter: blur(6px);
  box-shadow: 0 0 15px rgba(0,217,255,0.25);
}

#title {
  font-family: Verdana, sans-serif;
  font-style: italic;
  font-size: 4rem;
  margin: 20px 0;
}

#subtitle {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #ccc;
}

#desc {
  font-size: 1.1rem;
  color: #aaa;
}
